* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    padding: 10px;
}
h2 {
    font-weight: bold;
    display: inline-block;
}
.refresh {
    font-size: 80%;
    margin-left: 10px;
}
.header {
    background: #ECECEC;
    padding: 15px;
    width: 300px;
}
.suggestions {
    border: 2px solid #ECECEC;
    list-style: none;
    margin: 0;
    padding: 15px;
    width: 300px;
}
li {
    padding: 5px;
    border-bottom: 1px solid #ECECEC;
}
li:last-of-type {
    border-bottom: none;
}
li img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
li .username {
    display: inline-block;
    position: relative;
    left: 10px;
    top: 10px;
}
li .close {
    display: inline-block;
    position: relative;
    right: 10px;
    top: 10px;
}